
.game {
  margin: 50px;
}
.game .hexItem {
  width: 100px;
}

.game .gameRow {
  display: flex;
  flex-wrap: nowrap;
}
.game .gameRow:nth-child(1n+2) { margin-top: -30px; }
.game .gameRow:nth-child(even) :first-child { margin-left: 50px; }
